# ==========================================
# PostgreSQL
# ==========================================

POSTGRES_DB=inventory_db
POSTGRES_USER=inventory_user
POSTGRES_PASSWORD=inventory_password

# ==========================================
# Backend
# ==========================================

APP_NAME=Inventory Order Management API
APP_ENV=development
DEBUG=true

DATABASE_URL=postgresql+psycopg2://inventory_user:inventory_password@postgres:5432/inventory_db

LOW_STOCK_THRESHOLD=10

# ==========================================
# Frontend
# ==========================================

VITE_API_BASE_URL=http://localhost:8000/api/v1

VITE_APP_NAME=Inventory Order Management
VITE_APP_ENV=development